<ion-header [translucent]="true">
  <h1>Legends</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <figure>
    <img src="../../assets/IMG/Shoshinsha.png" alt="">
  </figure>
  <strong><h1 id="nombre">LEGENDS</h1></strong>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input id="myinput" [(ngModel)]="MyUser"></ion-input>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input id="myinput" [(ngModel)]="MyPass" type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="enviar()">Enviar</ion-button>
</ion-content>
